.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/*.tfplan
terraform/.terraform.tfstate.lock.info
terraform/crash.log
terraform/crash.*.log